In [4]:
import numpy as np
import pandas as pd

In [5]:
pd.__version__

'2.2.3'

In [6]:
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

In [7]:
data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [8]:
data.shape

(2160, 12)

In [9]:
data.Brand.nunique()

27

In [10]:
data.nunique()

Laptop          2160
Status             2
Brand             27
Model            121
CPU               28
RAM                9
Storage           12
Storage type       2
GPU               44
Screen            29
Touch              2
Final Price     1440
dtype: int64

In [13]:
data.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

# What's the maximum final price of Dell notebooks in the dataset?

In [49]:
data.groupby('Brand')['Final Price'].agg('max')

Brand
Acer                3691.00
Alurin               869.00
Apple               3849.00
Asus                5758.14
Deep Gaming         1639.01
Dell                3936.00
Denver               329.95
Dynabook Toshiba    1805.01
Gigabyte            3799.00
HP                  5368.77
Innjoo               431.38
Jetwing              469.27
LG                  2399.00
Lenovo              5018.14
MSI                 7150.47
Medion              3799.00
Microsoft           3747.91
Millenium           2312.71
PcCom               1949.90
Primux               599.41
Prixton              329.95
Razer               4999.01
Realme               999.00
Samsung             3699.01
Thomson              436.56
Toshiba              799.00
Vant                1217.01
Name: Final Price, dtype: float64

In [51]:
# What's the maximum final price of Dell notebooks in the dataset? #2

In [52]:
data.loc[data['Brand'] == 'Dell', ['Final Price']].max()

Final Price    3936.0
dtype: float64

# Median value of Screen

# Find the median value of Screen column in the dataset.
# Next, calculate the most frequent value of the same Screen column.
# Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
# Now, calculate the median value of Screen once again.

In [ ]:
median_screen = data['Screen'].median()
median_screen

In [32]:
mode_screen = data['Screen'].mode()
mode_screen[0]

np.float64(15.6)

In [35]:
data['Screen'].fillna(mode_screen[0]).median()

np.float64(15.6)

# Sum of weights

# Select all the "Innjoo" laptops from the dataset.
# Select only columns RAM, Storage, Screen.
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Compute the inverse of XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?

In [46]:
innjoo_data = data[data.Brand == 'Innjoo']
innjoo_data = innjoo_data[['RAM', 'Storage', 'Screen']]
innjoo_data

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [40]:
X = innjoo_data.values
XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [41]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [42]:
w = (XTX_inv @ X.T) @ y

In [43]:
w

array([45.58076606,  0.42783519, 45.29127938])

In [44]:
sum(w)

np.float64(91.2998806299555)